@import './styles/variables';
@import './styles/header';
@import './styles/slider';

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html {
  font-size: 14px;
}
body {
  font-family: 'Inter', sans-serif;
  color: $color-text;
  background: white;
}
a {
  list-style: none;
  text-decoration: none;
  list-style-type: none;
}
.container {
  max-width: 1920px;
}
